p 
		{
			
			text-align: center;
			background-color: blue;
		}
h1, h2 {
			font-size: 50;
			text-transform: uppercase;
}


img {
	border-radius: 25px;
	height: 30%;
	width: 30%;
}

body {
	font-family: Arial;
	background-image: url("xena.jpg");

}

.class
	{
		color: skyblue;

	}

#id
 	{
 		text-decoration: underline;
 	}